@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import './_variables.scss';
@import './_material-colors-get.scss';

@import '../components/nav/Nav.scss';
@import '../components/card/Card.scss';

*, ::after, ::before {
	box-sizing: border-box;
}

body {
	background-color: material-color($primary, '800');
	color: $text-primary;
	font-size: 14px;
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}

a {
	text-decoration: none;
}

a:visited {
	color: $text-primary;
}