$gutter: 12px;
$s-gutter: 8px;
$l-gutter: 16px;

$background: 'grey';
$primary: 'blue';
$secondary: 'red';

$text-primary: #555;
$text-secondary: #FFF;

$common-shadow: 0 1px 1px 0 rgba(0,0,0,.1);

$rippleBackground: rgba(0, 0, 0, 0.05);
$lightRippleBackground: rgba(255, 255, 255, 0.15);

@mixin selectableFieldBase() {
  position: relative;
	display: inline-block;
	padding: $gutter 0;
	margin-right: $gutter;
}

@mixin selectableFieldLabel() {
	font-size: 16px;
	font-weight: 400;
	transition: all .15s;
	cursor: pointer;
	position: relative;
}