.loading {
  .loading-background {
    height: 5px;
    border-radius: 15px;
    background-color: lighten(material-color($primary), 30%);
    width: 100%;
    position: relative;

    .loading-progress {
      background-color: material-color($primary);
      height: 5px;
      position: absolute;
      left: 0;
      width: 0;
      border-radius: 15px;
      transition: all .25s;
    }
  }

  &-indeterminate {
    overflow: hidden;
    .loading-progress {
      animation: indeterminate 1.5s ease-in-out infinite
    }
  }

  &.loading-circular {
    position: relative;
    margin: 0px auto;
    width: 75px;
    height: 75px;

    &.loading-small {
      width: 30px;
      height: 30px;
    }

    &.loading-large {
      width: 150px;
      height: 150px;
    }
    
    .loading-circular-svg {
      animation: rotate 2s linear infinite;
      height: 100%;
      transform-origin: center center;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
    }

    .loading-path-svg {
      stroke-dasharray: 150,200;
      stroke-dashoffset: -10;
      animation: dash 1.5s ease-in-out infinite, color 3s ease-in-out infinite;
      stroke-linecap: round;
      stroke: material-color($primary);
    }
  }
}

@keyframes indeterminate {
  0% {
    left: -50%;
    width: 50%;
  }

  97% {
    width: 50%;
  }

  100% {
    left: 110%;
    width: 10%;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@keyframes color {
  0% {
    stroke: material-color($primary);
  }
  45% {
    stroke: material-color($primary);
  }
  50% {
    stroke: material-color($secondary);
  }
  95% {
    stroke: material-color($secondary);
  }
}