@import '../../styles/_variables.scss';
@import '../../styles/_material-colors-get.scss';

.layout {
	display: flex;

	&.layout {
		&--row {
			flex-direction: row;
		}

		&--column {
			flex-direction: column;
		}

		&--justify-start {
			justify-content: flex-start;
		}

		&--justify-end {
			justify-content: flex-end;
		}

		&--justify-center {
			justify-content: center;
		}

		&--justify-space-between {
			justify-content: space-between;
		}

		&--justify-space-around {
			justify-content: space-around;
		}

		&--justify-space-evenly {
			justify-content: space-evenly;
		}

		&--align-start {
			align-items: flex-start;
		}

		&--align-end {
			align-items: flex-end;
		}

		&--align-center {
			align-items: center;
		}

		&--align-baseline {
			align-items: baseline;
		}

		&--align-stretch {
			align-items: stretch;
		}

	}
}

.container {
	max-width: 1024px;
	margin: auto;
	padding: $l-gutter 0;
	&.container {
		&--liquid {
			max-width: 100%;
		}
	}
}