@import '../../styles/_variables.scss';
@import '../../styles/_material-colors-get.scss';

.button {
	padding: $gutter ($gutter * 2);
	background-color: transparent;
	color: $text-primary;
	cursor: pointer;
	border: 0;
	border-radius: 3px;
	&.button {
		&--primary {
			background-color: material-color($primary, '800');
			color: $text-secondary;
		}

		&--secondary {
			background-color: material-color($secondary, '500');
			color: $text-secondary;
		}

		&--rounded {
			border-radius: 8px;
		}

		&--small {
			padding: ($gutter / 2) $gutter;
		}

		&--large {
			padding: $gutter * 2 ($gutter * 4);
		}
	}
}