@import '../../styles/_variables.scss';
@import '../../styles/_material-colors-get.scss';

.navigation {
	padding: ($gutter * 3) ($gutter * 2) ($gutter * 4);
	@include linear-gradient(darken(material-color($primary, '800'), 5%), material-color($primary, '900'));
	.navigation-link {
		color: $text-primary;
		display: inline-block;
		padding: $l-gutter $gutter;
		margin-right: ($gutter * 2);
		font-weight: 300;
		border-bottom: 3px solid transparent;
		&:hover, &--active {
			border-bottom-color: material-color($secondary, '500');
		}
	}
}