.table {
	background-color: white;
	box-shadow: $common-shadow;
	width: 100%;
	border-collapse: collapse;
	.table-head {
		background-color: lighten(material-color($background, '200'), 3%);
	}
	
	&-bordered {
		.table-head-data, .table-data {
			border-right-width: 1px;
			border-right-style: solid;
			border-right-color: lighten(material-color($background, '300'), 3%);
			&:last-child {
				border-right: 0;
			}
		}

		.table-body {
			.table-row {
				border-top: 1px solid lighten(material-color($background, '200'), 3%);
				&:first-child {
					border-top-color: lighten(material-color($background, '300'), 3%);
				}
			}
		}
		
		.table-data {
			border-right-color: lighten(material-color($background, '200'), 3%);
		}
	}

	.table-data, .table-head-data {
		padding: $s-gutter;
	}
}